extends layout.pug 

block content 
    table 
      thead 
        tr 
          th Name 
          th Picture 
          th Average Rating
          th My Rating 
          th Review
      tbody 
        each cat in catList.Cats
          tr 
            td
              a(href=`/cats/${cat.id}`)= cat.name
            td
              img(src=cat.imgUrl, alt="", style="max-width: 150px")
              //- img(src= cat.imgUrl)
            td 
              
            each review in cat.Reviews
              td
                if review.userId === userId
                  p= review.rating

              td
                if review.userId === userId
                  p Review: #{review.content}
          
