extends layout.pug 

block content 

    script(src="/javascripts/catlists.js" type="module")
    h1 My Cat Lists
    .catlist-container
    .form-container
    .inner-wrapper
        input(type="hidden" name="_csrf" value=csrfToken)