extends layout.pug

block content
    .catsContainer
        each cat in cats
          .catbox
            p= cat.name
            a(href=`/cats/${cat.id}`)
              .catContainer
                img(src=`${cat.imgUrl}`, alt="")
