extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    form(action='/cats/new' method='post')
        -// don't know if userId works
        input(type='hidden' name='userId' value=userId)
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Cat Name', 'name', null)
        +field('Breed', 'breed', null)
        +field('Coat', 'coat', null)
        +field('Size', 'size', null)
        label(for='friendly') Is friendly?
        select(name='friendly')
            option(value='true') True
            option(value='false') False
        +field('Image', 'imgUrl')
        button Create New Cat
