extends layout.pug

block content
    .usersContainer
        each user in users
          a(href=`/users/${user.id}`)
            div.userContainer
              p= user.username
                .userBox(style=`background-image: url('favicon.ico')`)
