extends layout.pug

block content
    .usersContainer
        each user in users
            ul.userContainer
                li Username:
                  a(href=`/users/${user.id}`)= user.username
                li= `Name: ${user.firstName} ${user.lastName}`
                li
