extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    form(method="post" action=`/users/${user.id}/edit`)
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("First Name", "firstName", user.firstName)
        +field("Last Name", "lastName", user.lastName)
        +field("Bio", "bio", user.bio, "textarea", "Tell us something about yourself")
        button Update Account
