/*
DARK BROWN #B3884D 
MINT GREEN #BAFFCE
BEIGE #FFCD87
LIGHT PURPLE #AF6EFF
DARK PURPLE #7F56B3
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

h1 {
    color: #555555;
}

body {
   background-color: #FFCC86;
   font-family: 'PT Serif', serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #B3884D;
    color: #BAFFCE;
}

nav img {
    max-width: 90px;

}

nav a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

button {
    text-decoration: none;
    border: #555555 1px solid;
    color: #BAFFCE;
    background-color: #382255;
    padding: 5px 9px;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px;
}

button:hover {
    color: #382255;
    background-color: #BAFFCE;
    cursor: pointer;
}

nav a:hover {
    color: #382255;
    font-weight: bold;
}